body{
    background-color: rgb(40, 40, 40);
     color: white;
}

h1{
    position: absolute;
    left: 846px; 
}

#Download{
    position: absolute;
    left: 663px;
    bottom:  500px;
    background-color: greenyellow;
    color: green;
    font-size: 20px;
    padding: 20px;
    border: 30,30,30;
    border-width: 20px;
    }
    h2{
        position: absolute;
        left: 838px;
        top: 24.2%;
    }

img{
    position: absolute;
    left: 43%;
    bottom: 500px;
}

p{
    position: absolute;
    left: 984px;
    top: 26%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline-block;
    margin-right: 20px;
}

#Home{
    position: absolute;
    left: 1750px;
}

.Download{
   position: absolute;
   top: 38%;
   left: 32%;
   display: inline-block;
   cursor: pointer;
   text-decoration: none;
   font-size: 2rem;    
   color: rgb(0, 255, 0);
   border: rgb(0, 255, 0) 0.125em solid;
   padding: 0.25em 1em;
   border-radius: .25em; 
}